# Ignore virtual environment directories
venv/
env/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore distribution and build directories
build/
dist/
*.egg-info/

# Ignore IDE and editor specific files
.vscode/
.idea/
*.swp
*.swo

# Ignore log files and temporary files
*.log
*.tmp

# Ignore compiled files
*.o
*.so
*.a
*.out

# Ignore coverage reports
.coverage
coverage.xml
*.cover
.hypothesis/

# Ignore Django specific files
*.sqlite3
*.pot
*.pyc

# Ignore other specific directories and files
.serverless/
.fusebox/
.dynamodb/
.tern-port
